/* Добавь это в конец файла */
.btn-check-view {
    background: #2c3e50;
    color: #ecf0f1;
    border: 1px solid #34495e;
    padding: 10px;
    border-radius: 12px;
    font-size: 11px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.2s;
}
.btn-check-view:hover {
    background: #34495e;
}
